/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.content-wrap {
    height: 100vh;
}

/* Header */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header>.left-column img {
    width: 172px;
    height: 33px;
    margin: 10px 40px 10px 20px;
}

header>.left-column {
    display: flex;
}

/* Nav */
header>.left-column>nav {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header>.left-column>nav>.explore {
    color: #f1d579;
    font-weight: 500;
}

.links-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.links-wrapper>.nav-link a {
    color: white;
    font-weight: 700;
    padding-right: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper>.nav-link a:hover {
    color: #c2c1c1;
}

.links-wrapper>.spark a {
    color: #bebebe;
    font-weight: 500;
    padding-left: 10px;
    transition: 0.5s;
}

.links-wrapper>.spark a:hover {
    color: #e7e7e7;
    transition: 0.5s;
}

.links-wrapper>.spark>a>i {
    margin-left: 7px;
}

header>.right-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>.right-column .button {
    text-decoration: none;
    color: white;
    background-color: #414141;
    padding: 14px 20px;
    margin: 0 5px;
    border-radius: 3px;
    transition: 0.5s;
}

header>.right-column .button:hover {
    background-color: #575757;
}

header>.right-column .create>i {
    color: #60e667;
    margin-left: 5px;
}

header>.right-column i.fa-magnifying-glass {
    font-size: 2em;
    color: #949494;
    margin: 0 10px;
    transition: 0.5s;
}

header>.right-column i.fa-magnifying-glass:hover {
    color: #b9b9b9;
    cursor: pointer;
}

/* Main section */
.gradient-background {
    background: rgb(0, 0, 0);
    background: linear-gradient(347deg, rgba(0, 0, 0, 1) 0%, rgba(52, 56, 70, 1) 70%, rgba(66, 67, 74, 1) 100%);
}

main>.gradient-background .columns-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 40px;
    padding-top: 50px;
}

main>.gradient-background>.columns-wrapper>.left-column {
    padding-right: 40px;
}

main>.gradient-background>.columns-wrapper>.left-column h1 {
    color: #e2e2e2;
    font-weight: 300;
    font-size: 2.5em;
    margin: 0;
}

main>.gradient-background>.columns-wrapper>.left-column strong {
    color: white;
}

main>.gradient-background>.columns-wrapper>.left-column p {
    color: #b9b9b9;
    font-size: 2em;
}

main>.gradient-background>.columns-wrapper>.left-column>.buttons {
    padding: 20px 0;
}

main>.gradient-background>.columns-wrapper>.left-column>.buttons .button {
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
    padding: 14px 20px;
    border-radius: 3px;
    transition: 0.5s;
}

main>.gradient-background>.columns-wrapper>.left-column>.buttons .button.sign-up {
    background-color: #60e667;
    color: black;
    margin-right: 15px;
}

main>.gradient-background>.columns-wrapper>.left-column>.buttons .button.sign-up:hover {
    background-color: #82ec87;
}

main>.gradient-background>.columns-wrapper>.left-column>.buttons .button.learn-more {
    background-color: black;
    color: white;
}

main>.gradient-background>.columns-wrapper>.left-column>.buttons .button.learn-more:hover {
    background-color: #131313;
}

main>.gradient-background>.columns-wrapper>.right-column>figure {
    margin: 0;
}

main>.gradient-background>.columns-wrapper>.right-column>figure>figcaption {
    color: white;
    font-weight: 700;
}

main>.gradient-background>.columns-wrapper>.right-column>figure>figcaption span {
    color: #86e7ff;
}

main>.gradient-background>.columns-wrapper>.right-column>figure img {
    width: 730px;
    height: 605px;
    -webkit-box-shadow: -16px 0 34px -5px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: -16px 0 34px -5px rgba(0, 0, 0, 0.78);
    box-shadow: -16px 0 34px -5px rgba(0, 0, 0, 0.78);
}

/* Codepen types button bar */
.codepen-types-bar {
    background-color: #3e3e49;
    border: 2px solid #797979;
    display: flex;
    justify-content: space-around;
}

.codepen-types-bar .codepen-types-button {
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    border-right: 2px solid #797979;
    padding: 14px 16px;
    flex-grow: 1;
}

.codepen-types-button span {
    font-family: 'Rammetto One', cursive;
    font-weight: 400;
}

.spacer {
    background-color: #131313;
    height: 80px;
    width: 100%;
}

@media only screen and (min-width: 1700px) {
    .spacer {
        height: 150px;
    }
}